#encoding UTF-8
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Parameterlist</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet"> 
    <link rel="stylesheet" href="parameterlist.css">
</head>

<body>
    <h1>Parameter list</h1><p>last update $current.dateTime</p>
    <p>Find here several labels you can use in your own skins</p>
    <table>
        <thead>
            <tr>
                <th colspan="2">Station</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>\$station.location</td>
                <td>$station.location</td>
            </tr>
            <tr>
                <td>\$current.dateTime</td>
                <td>$current.dateTime</td>
            </tr>
            <tr>
                <td>\$station.latitude</td>
                <td>$station.latitude</td>
            </tr>
            <tr>
                <td>\$station.longitude</td>
                <td>$station.longitude</td>
            </tr>
            <tr>
                <td>\$station.latitude[0]° \$station.latitude[1]' \$station.latitude[2]</td>
                <td>$station.latitude[0]° $station.latitude[1]' $station.latitude[2]</td>
            </tr>
            <tr>
                <td>\$station.longitude[0]° \$station.longitude[1]' \$station.longitude[2]</td>
                <td>$station.longitude[0]° $station.longitude[1]' $station.longitude[2]</td>
            </tr>
            <tr>
                <td>\$station.altitude</td>
                <td>$station.altitude</td>
            </tr>
            <tr>
                <td>\$station.hardware</td>
                <td>$station.hardware</td>
            </tr>
            <tr>
                <td>\$station.uptime</td>
                <td>$station.uptime</td>
            </tr>
            <tr>
                <td>\$station.os_uptime</td>
                <td>$station.os_uptime</td>
            </tr>
            <tr>
                <td>\$station.version</td>
                <td>$station.version</td>
            </tr>
            <tr>
                <td>\$station.station_url</td>
                <td>$station.station_url</td>
            </tr>
        </tbody>
    </table>
    <br>

    <table>
        <thead>
            <tr>
                <th colspan="2">Almanach</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan=2>Sun</td>
            </tr>
            <tr>
                <td>\$almanac.sunrise</td>
                <td>$almanac.sunrise</td>
            </tr>
            <tr>
                <td>\$almanac.sunrise.raw</td>
                <td>$almanac.sunrise.raw</td>
            </tr>
            <tr>
                <td>\$almanac.sunset</td>
                <td>$almanac.sunset</td>
            </tr>
            <tr>
                <td>\$almanac.sunset.raw</td>
                <td>$almanac.sunset.raw</td>
            </tr>
            <tr>
                <td colspan=2>Moon</td>
            </tr>
            <tr>
                <td>\$almanac.moon.rise</td>
                <td>$almanac.moon.rise</td>
            </tr>
            <tr>
                <td>\$almanac.moon.set</td>
                <td>$almanac.moon.set</td>
            </tr>
        </tbody>
    </table>
    <br>

    <table>
        <thead>
            <tr>
                <th colspan="2">Trends</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>\$trend.barometer</td>
                <td>$trend.barometer</td>
            </tr>
            <tr>
                <td>\$trend.barometer.raw</td>
                <td>$trend.barometer.raw</td>
            </tr>
            <tr>
                <td>\$trend.barometer.nolabel("%.0f")</td>
                <td>$trend.barometer.nolabel("%.0f")</td>
            </tr>
            <tr>
                <td>\$trend.time_delta</td>
                <td>$trend.time_delta</td>
            </tr>
            <tr>
                <td>\$trend.time_delta</td>
                <td>$trend.time_delta</td>
            </tr>
            <tr>
                <td>\$trend.outTemp</td>
                <td>$trend.outTemp</td>
            </tr>
        </tbody>
    </table>
    <br>

    <table>
        <thead>
            <tr>
                <th colspan="4">\$current / \$latest</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>\$current.barometer</td>
                <td>$current.barometer</td>
                <td>\$latest.barometer</td>
                <td>$latest.barometer</td>
            </tr>
            <tr>
                <td>\$current.pressure</td>
                <td>$current.pressure</td>
                <td>\$latest.pressure</td>
                <td>$latest.pressure</td>
            </tr>
            <tr>
                <td>\$current.altimeter</td>
                <td>$current.altimeter</td>
                <td>\$latest.altimeter</td>
                <td>$latest.altimeter</td>
            </tr>
            <tr>
                <td>\$current.inTemp</td>
                <td>$current.inTemp</td>
                <td>\$latest.inTemp</td>
                <td>$latest.inTemp</td>
            </tr>
            <tr>
                <td>\$current.outTemp</td>
                <td>$current.outTemp</td>
                <td>\$latest.outTemp</td>
                <td>$latest.outTemp</td>
            </tr>
            <tr>
                <td>\$current.inHumidity</td>
                <td>$current.inHumidity</td>
                <td>\$latest.inHumidity</td>
                <td>$latest.inHumidity</td>
            </tr>
            <tr>
                <td>\$current.outHumidity</td>
                <td>$current.outHumidity</td>
                <td>\$latest.outHumidity</td>
                <td>$latest.outHumidity</td>
            </tr>
            <tr>
                <td>\$current.windSpeed</td>
                <td>$current.windSpeed</td>
                <td>\$latest.windSpeed</td>
                <td>$latest.windSpeed</td>
            </tr>
            <tr>
                <td>\$current.windDir</td>
                <td>$current.windDir</td>
                <td>\$latest.windDir</td>
                <td>$latest.windDir</td>
            </tr>
            <tr>
                <td>\$current.windGust</td>
                <td>$current.windGust</td>
                <td>\$latest.windGust</td>
                <td>$latest.windGust</td>
            </tr>
            <tr>
                <td>\$current.windGustDir</td>
                <td>$current.windGustDir</td>
                <td>\$latest.windGustDir</td>
                <td>$latest.windGustDir</td>
            </tr>
            <tr>
                <td>\$current.rainRate</td>
                <td>$current.rainRate</td>
                <td>\$latest.rainRate</td>
                <td>$latest.rainRate</td>
            </tr>
            <tr>
                <td>\$current.rain</td>
                <td>$current.rain</td>
                <td>\$latest.rain</td>
                <td>$latest.rain</td>
            </tr>
            <tr>
                <td>\$current.dewpoint</td>
                <td>$current.dewpoint</td>
                <td>\$latest.dewpoint</td>
                <td>$latest.dewpoint</td>
            </tr>
            <tr>
                <td>\$current.windchill</td>
                <td>$current.windchill</td>
                <td>\$latest.windchill</td>
                <td>$latest.windchill</td>
            </tr>
            <tr>
                <td>\$current.heatindex</td>
                <td>$current.heatindex</td>
                <td>\$latest.heatindex</td>
                <td>$latest.heatindex</td>
            </tr>
            <tr>
                <td>\$current.ET</td>
                <td>$current.ET</td>
                <td>\$latest.ET</td>
                <td>$latest.ET</td>
            </tr>
            <tr>
                <td>\$current.radiation</td>
                <td>$current.radiation</td>
                <td>\$latest.radiation</td>
                <td>$latest.radiation</td>
            </tr>
            <tr>
                <td>\$current.UV</td>
                <td>$current.UV</td>
                <td>\$latest.UV</td>
                <td>$latest.UV</td>
            </tr>
            <tr>
                <td>\$current.extraTemp1</td>
                <td>$current.extraTemp1</td>
                <td>\$latest.extraTemp1</td>
                <td>$latest.extraTemp1</td>
            </tr>
            <tr>
                <td>\$current.extraTemp2</td>
                <td>$current.extraTemp2</td>
                <td>\$latest.extraTemp2</td>
                <td>$latest.extraTemp2</td>
            </tr>
            <tr>
                <td>\$current.extraTemp3</td>
                <td>$current.extraTemp3</td>
                <td>\$latest.extraTemp3</td>
                <td>$latest.extraTemp3</td>
            </tr>
            <tr>
                <td>\$current.soilTemp1</td>
                <td>$current.soilTemp1</td>
                <td>\$latest.soilTemp1</td>
                <td>$latest.soilTemp1</td>
            </tr>
            <tr>
                <td>\$current.soilTemp2</td>
                <td>$current.soilTemp2</td>
                <td>\$latest.soilTemp2</td>
                <td>$latest.soilTemp2</td>
            </tr>
            <tr>
                <td>\$current.soilTemp3</td>
                <td>$current.soilTemp3</td>
                <td>\$latest.soilTemp3</td>
                <td>$latest.soilTemp3</td>
            </tr>
            <tr>
                <td>\$current.soilTemp4</td>
                <td>$current.soilTemp4</td>
                <td>\$latest.soilTemp4</td>
                <td>$latest.soilTemp4</td>
            </tr>
            <tr>
                <td>\$current.leafTemp1</td>
                <td>$current.leafTemp1</td>
                <td>\$latest.leafTemp1</td>
                <td>$latest.leafTemp1</td>
            </tr>
            <tr>
                <td>\$current.leafTemp2</td>
                <td>$current.leafTemp2</td>
                <td>\$latest.leafTemp2</td>
                <td>$latest.leafTemp2</td>
            </tr>
            <tr>
                <td>\$current.extraHumid1</td>
                <td>$current.extraHumid1</td>
                <td>\$latest.extraHumid1</td>
                <td>$latest.extraHumid1</td>
            </tr>
            <tr>
                <td>\$current.extraHumid2</td>
                <td>$current.extraHumid2</td>
                <td>\$latest.extraHumid2</td>
                <td>$latest.extraHumid2</td>
            </tr>
            <tr>
                <td>\$current.soilMoist1</td>
                <td>$current.soilMoist1</td>
                <td>\$latest.soilMoist1</td>
                <td>$latest.soilMoist1</td>
            </tr>
            <tr>
                <td>\$current.soilMoist2</td>
                <td>$current.soilMoist2</td>
                <td>\$latest.soilMoist2</td>
                <td>$latest.soilMoist2</td>
            </tr>
            <tr>
                <td>\$current.soilMoist3</td>
                <td>$current.soilMoist3</td>
                <td>\$latest.soilMoist3</td>
                <td>$latest.soilMoist3</td>
            </tr>
            <tr>
                <td>\$current.soilMoist4</td>
                <td>$current.soilMoist4</td>
                <td>\$latest.soilMoist4</td>
                <td>$latest.soilMoist4</td>
            </tr>
            <tr>
                <td>\$current.leafWet1</td>
                <td>$current.leafWet1</td>
                <td>\$latest.leafWet1</td>
                <td>$latest.leafWet1</td>
            </tr>
            <tr>
                <td>\$current.leafWet2</td>
                <td>$current.leafWet2</td>
                <td>\$latest.leafWet2</td>
                <td>$latest.leafWet2</td>
            </tr>
            <tr>
                <td>\$current.rxCheckPercent</td>
                <td>$current.rxCheckPercent</td>
                <td>\$latest.rxCheckPercent</td>
                <td>$latest.rxCheckPercent</td>
            </tr>
            <tr>
                <td>\$current.txBatteryStatus</td>
                <td>$current.txBatteryStatus</td>
                <td>\$latest.txBatteryStatus</td>
                <td>$latest.txBatteryStatus</td>
            </tr>
            <tr>
                <td>\$current.consBatteryVoltage</td>
                <td>$current.consBatteryVoltage</td>
                <td>\$latest.consBatteryVoltage</td>
                <td>$latest.consBatteryVoltage</td>
            </tr>
            <tr>
                <td>\$current.hail</td>
                <td>$current.hail</td>
                <td>\$latest.hail</td>
                <td>$latest.hail</td>
            </tr>
            <tr>
                <td>\$current.hailRate</td>
                <td>$current.hailRate</td>
                <td>\$latest.hailRate</td>
                <td>$latest.hailRate</td>
            </tr>
            <tr>
                <td>\$current.heatingTemp</td>
                <td>$current.heatingTemp</td>
                <td>\$latest.heatingTemp</td>
                <td>$latest.heatingTemp</td>
            </tr>
            <tr>
                <td>\$current.heatingVoltage</td>
                <td>$current.heatingVoltage</td>
                <td>\$latest.heatingVoltage</td>
                <td>$latest.heatingVoltage</td>
            </tr>
            <tr>
                <td>\$current.supplyVoltage</td>
                <td>$current.supplyVoltage</td>
                <td>\$latest.supplyVoltage</td>
                <td>$latest.supplyVoltage</td>
            </tr>
            <tr>
                <td>\$current.referenceVoltage</td>
                <td>$current.referenceVoltage</td>
                <td>\$latest.referenceVoltage</td>
                <td>$latest.referenceVoltage</td>
            </tr>
            <tr>
                <td>\$current.windBatteryStatus</td>
                <td>$current.windBatteryStatus</td>
                <td>\$latest.windBatteryStatus</td>
                <td>$latest.windBatteryStatus</td>
            </tr>
            <tr>
                <td>\$current.rainBatteryStatus</td>
                <td>$current.rainBatteryStatus</td>
                <td>\$latest.rainBatteryStatus</td>
                <td>$latest.rainBatteryStatus</td>
            </tr>
            <tr>
                <td>\$current.outTempBatteryStatus</td>
                <td>$current.outTempBatteryStatus</td>
                <td>\$latest.outTempBatteryStatus</td>
                <td>$latest.outTempBatteryStatus</td>
            </tr>
            <tr>
                <td>\$current.inTempBatteryStatus</td>
                <td>$current.inTempBatteryStatus</td>
                <td>\$latest.inTempBatteryStatus</td>
                <td>$latest.inTempBatteryStatus</td>
            </tr>

        </tbody>
    </table>

    <br>

    <table>
        <thead>
            <tr>
                <th colspan="4">\$day average & count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>\$day.barometer.avg</td>
                <td>$day.barometer.avg</td>
                <td>\$day.barometer.count</td>
                <td>$day.barometer.count</td>
            </tr>
            <tr>
                <td>\$day.pressure.avg</td>
                <td>$day.pressure.avg</td>
                <td>\$day.pressure.count</td>
                <td>$day.pressure.count</td>
            </tr>
            <tr>
                <td>\$day.altimeter.avg</td>
                <td>$day.altimeter.avg</td>
                <td>\$day.altimeter.count</td>
                <td>$day.altimeter.count</td>
            </tr>
            <tr>
                <td>\$day.inTemp.avg</td>
                <td>$day.inTemp.avg</td>
                <td>\$day.inTemp.count</td>
                <td>$day.inTemp.count</td>
            </tr>
            <tr>
                <td>\$day.outTemp.avg</td>
                <td>$day.outTemp.avg</td>
                <td>\$day.outTemp.count</td>
                <td>$day.outTemp.count</td>
            </tr>
            <tr>
                <td>\$day.inHumidity.avg</td>
                <td>$day.inHumidity.avg</td>
                <td>\$day.inHumidity.count</td>
                <td>$day.inHumidity.count</td>
            </tr>
            <tr>
                <td>\$day.outHumidity.avg</td>
                <td>$day.outHumidity.avg</td>
                <td>\$day.outHumidity.count</td>
                <td>$day.outHumidity.count</td>
            </tr>
            <tr>
                <td>\$day.windSpeed.avg</td>
                <td>$day.windSpeed.avg</td>
                <td>\$day.windSpeed.count</td>
                <td>$day.windSpeed.count</td>
            </tr>
            <tr>
                <td>\$day.windDir.avg</td>
                <td>$day.windDir.avg</td>
                <td>\$day.windDir.count</td>
                <td>$day.windDir.count</td>
            </tr>
            <tr>
                <td>\$day.windGust.avg</td>
                <td>$day.windGust.avg</td>
                <td>\$day.windGust.count</td>
                <td>$day.windGust.count</td>
            </tr>
            <tr>
                <td>\$day.windGustDir.avg</td>
                <td>$day.windGustDir.avg</td>
                <td>\$day.windGustDir.count</td>
                <td>$day.windGustDir.count</td>
            </tr>
            <tr>
                <td>\$day.rainRate.avg</td>
                <td>$day.rainRate.avg</td>
                <td>\$day.rainRate.count</td>
                <td>$day.rainRate.count</td>
            </tr>
            <tr>
                <td>\$day.dewpoint.avg</td>
                <td>$day.dewpoint.avg</td>
                <td>\$day.dewpoint.count</td>
                <td>$day.dewpoint.count</td>
            </tr>
            <tr>
                <td>\$day.windchill.avg</td>
                <td>$day.windchill.avg</td>
                <td>\$day.windchill.count</td>
                <td>$day.windchill.count</td>
            </tr>
            <tr>
                <td>\$day.heatindex.avg</td>
                <td>$day.heatindex.avg</td>
                <td>\$day.heatindex.count</td>
                <td>$day.heatindex.count</td>
            </tr>
            <tr>
                <td>\$day.ET.avg</td>
                <td>$day.ET.avg</td>
                <td>\$day.ET.count</td>
                <td>$day.ET.count</td>
            </tr>
            <tr>
                <td>\$day.radiation.avg</td>
                <td>$day.radiation.avg</td>
                <td>\$day.radiation.count</td>
                <td>$day.radiation.count</td>
            </tr>
            <tr>
                <td>\$day.UV.avg</td>
                <td>$day.UV.avg</td>
                <td>\$day.UV.count</td>
                <td>$day.UV.count</td>
            </tr>
            <tr>
                <td>\$day.extraTemp1.avg</td>
                <td>$day.extraTemp1.avg</td>
                <td>\$day.extraTemp1.count</td>
                <td>$day.extraTemp1.count</td>
            </tr>
        </tbody>
    </table>
    <br>

    <table>
        <thead>
            <tr>
                <th colspan="4">\$day min & mintime</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>\$day.barometer.min</td>
                <td>$day.barometer.min</td>
                <td>\$day.barometer.mintime</td>
                <td>$day.barometer.mintime</td>
            </tr>
            <tr>
                <td>\$day.pressure.min</td>
                <td>$day.pressure.min</td>
                <td>\$day.pressure.mintime</td>
                <td>$day.pressure.mintime</td>
            </tr>
            <tr>
                <td>\$day.altimeter.min</td>
                <td>$day.altimeter.min</td>
                <td>\$day.altimeter.mintime</td>
                <td>$day.altimeter.mintime</td>
            </tr>
            <tr>
                <td>\$day.inTemp.min</td>
                <td>$day.inTemp.min</td>
                <td>\$day.inTemp.mintime</td>
                <td>$day.inTemp.mintime</td>
            </tr>
            <tr>
                <td>\$day.outTemp.min</td>
                <td>$day.outTemp.min</td>
                <td>\$day.outTemp.mintime</td>
                <td>$day.outTemp.mintime</td>
            </tr>
            <tr>
                <td>\$day.inHumidity.min</td>
                <td>$day.inHumidity.min</td>
                <td>\$day.inHumidity.mintime</td>
                <td>$day.inHumidity.mintime</td>
            </tr>
            <tr>
                <td>\$day.outHumidity.min</td>
                <td>$day.outHumidity.min</td>
                <td>\$day.outHumidity.mintime</td>
                <td>$day.outHumidity.mintime</td>
            </tr>
            <tr>
                <td>\$day.windSpeed.min</td>
                <td>$day.windSpeed.min</td>
                <td>\$day.windSpeed.mintime</td>
                <td>$day.windSpeed.mintime</td>
            </tr>
            <tr>
                <td>\$day.windDir.min</td>
                <td>$day.windDir.min</td>
                <td>\$day.windDir.mintime</td>
                <td>$day.windDir.mintime</td>
            </tr>
            <tr>
                <td>\$day.windGust.min</td>
                <td>$day.windGust.min</td>
                <td>\$day.windGust.mintime</td>
                <td>$day.windGust.mintime</td>
            </tr>
            <tr>
                <td>\$day.windGustDir.min</td>
                <td>$day.windGustDir.min</td>
                <td>\$day.windGustDir.mintime</td>
                <td>$day.windGustDir.mintime</td>
            </tr>
            <tr>
                <td>\$day.rainRate.min</td>
                <td>$day.rainRate.min</td>
                <td>\$day.rainRate.mintime</td>
                <td>$day.rainRate.mintime</td>
            </tr>
            <tr>
                <td>\$day.dewpoint.min</td>
                <td>$day.dewpoint.min</td>
                <td>\$day.dewpoint.mintime</td>
                <td>$day.dewpoint.mintime</td>
            </tr>
            <tr>
                <td>\$day.windchill.min</td>
                <td>$day.windchill.min</td>
                <td>\$day.windchill.mintime</td>
                <td>$day.windchill.mintime</td>
            </tr>
            <tr>
                <td>\$day.heatindex.min</td>
                <td>$day.heatindex.min</td>
                <td>\$day.heatindex.mintime</td>
                <td>$day.heatindex.mintime</td>
            </tr>
            <tr>
                <td>\$day.ET.min</td>
                <td>$day.ET.min</td>
                <td>\$day.ET.mintime</td>
                <td>$day.ET.mintime</td>
            </tr>
            <tr>
                <td>\$day.radiation.min</td>
                <td>$day.radiation.min</td>
                <td>\$day.radiation.mintime</td>
                <td>$day.radiation.mintime</td>
            </tr>
            <tr>
                <td>\$day.UV.min</td>
                <td>$day.UV.min</td>
                <td>\$day.UV.mintime</td>
                <td>$day.UV.mintime</td>
            </tr>
            <tr>
                <td>\$day.extraTemp1.min</td>
                <td>$day.extraTemp1.min</td>
                <td>\$day.extraTemp1.mintime</td>
                <td>$day.extraTemp1.mintime</td>
            </tr>
        </tbody>
    </table>
    <br>

    <table>
        <thead>
            <tr>
                <th colspan="4">\$day max & maxtime</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>\$day.barometer.max</td>
                <td>$day.barometer.max</td>
                <td>\$day.barometer.maxtime</td>
                <td>$day.barometer.maxtime</td>
            </tr>
            <tr>
                <td>\$day.pressure.max</td>
                <td>$day.pressure.max</td>
                <td>\$day.pressure.maxtime</td>
                <td>$day.pressure.maxtime</td>
            </tr>
            <tr>
                <td>\$day.altimeter.max</td>
                <td>$day.altimeter.max</td>
                <td>\$day.altimeter.maxtime</td>
                <td>$day.altimeter.maxtime</td>
            </tr>
            <tr>
                <td>\$day.inTemp.max</td>
                <td>$day.inTemp.max</td>
                <td>\$day.inTemp.maxtime</td>
                <td>$day.inTemp.maxtime</td>
            </tr>
            <tr>
                <td>\$day.outTemp.max</td>
                <td>$day.outTemp.max</td>
                <td>\$day.outTemp.maxtime</td>
                <td>$day.outTemp.maxtime</td>
            </tr>
            <tr>
                <td>\$day.inHumidity.max</td>
                <td>$day.inHumidity.max</td>
                <td>\$day.inHumidity.maxtime</td>
                <td>$day.inHumidity.maxtime</td>
            </tr>
            <tr>
                <td>\$day.outHumidity.max</td>
                <td>$day.outHumidity.max</td>
                <td>\$day.outHumidity.maxtime</td>
                <td>$day.outHumidity.maxtime</td>
            </tr>
            <tr>
                <td>\$day.windSpeed.max</td>
                <td>$day.windSpeed.max</td>
                <td>\$day.windSpeed.maxtime</td>
                <td>$day.windSpeed.maxtime</td>
            </tr>
            <tr>
                <td>\$day.windDir.max</td>
                <td>$day.windDir.max</td>
                <td>\$day.windDir.maxtime</td>
                <td>$day.windDir.maxtime</td>
            </tr>
            <tr>
                <td>\$day.windGust.max</td>
                <td>$day.windGust.max</td>
                <td>\$day.windGust.maxtime</td>
                <td>$day.windGust.maxtime</td>
            </tr>
            <tr>
                <td>\$day.windGustDir.max</td>
                <td>$day.windGustDir.max</td>
                <td>\$day.windGustDir.maxtime</td>
                <td>$day.windGustDir.maxtime</td>
            </tr>
            <tr>
                <td>\$day.rainRate.max</td>
                <td>$day.rainRate.max</td>
                <td>\$day.rainRate.maxtime</td>
                <td>$day.rainRate.maxtime</td>
            </tr>
            <tr>
                <td>\$day.dewpoint.max</td>
                <td>$day.dewpoint.max</td>
                <td>\$day.dewpoint.maxtime</td>
                <td>$day.dewpoint.maxtime</td>
            </tr>
            <tr>
                <td>\$day.windchill.max</td>
                <td>$day.windchill.max</td>
                <td>\$day.windchill.maxtime</td>
                <td>$day.windchill.maxtime</td>
            </tr>
            <tr>
                <td>\$day.heatindex.max</td>
                <td>$day.heatindex.max</td>
                <td>\$day.heatindex.maxtime</td>
                <td>$day.heatindex.maxtime</td>
            </tr>
            <tr>
                <td>\$day.ET.max</td>
                <td>$day.ET.max</td>
                <td>\$day.ET.maxtime</td>
                <td>$day.ET.maxtime</td>
            </tr>
            <tr>
                <td>\$day.radiation.max</td>
                <td>$day.radiation.max</td>
                <td>\$day.radiation.maxtime</td>
                <td>$day.radiation.maxtime</td>
            </tr>
            <tr>
                <td>\$day.UV.max</td>
                <td>$day.UV.max</td>
                <td>\$day.UV.maxtime</td>
                <td>$day.UV.maxtime</td>
            </tr>
            <tr>
                <td>\$day.extraTemp1.max</td>
                <td>$day.extraTemp1.max</td>
                <td>\$day.extraTemp1.maxtime</td>
                <td>$day.extraTemp1.maxtime</td>
            </tr>
        </tbody>
    </table>
    <br>

    <table>
        <thead>
            <tr>
                <th colspan="4">\$week average & count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>\$week.barometer.avg</td>
                <td>$week.barometer.avg</td>
                <td>\$week.barometer.count</td>
                <td>$week.barometer.count</td>
            </tr>
            <tr>
                <td>\$week.pressure.avg</td>
                <td>$week.pressure.avg</td>
                <td>\$week.pressure.count</td>
                <td>$week.pressure.count</td>
            </tr>
            <tr>
                <td>\$week.altimeter.avg</td>
                <td>$week.altimeter.avg</td>
                <td>\$week.altimeter.count</td>
                <td>$week.altimeter.count</td>
            </tr>
            <tr>
                <td>\$week.inTemp.avg</td>
                <td>$week.inTemp.avg</td>
                <td>\$week.inTemp.count</td>
                <td>$week.inTemp.count</td>
            </tr>
            <tr>
                <td>\$week.outTemp.avg</td>
                <td>$week.outTemp.avg</td>
                <td>\$week.outTemp.count</td>
                <td>$week.outTemp.count</td>
            </tr>
            <tr>
                <td>\$week.inHumidity.avg</td>
                <td>$week.inHumidity.avg</td>
                <td>\$week.inHumidity.count</td>
                <td>$week.inHumidity.count</td>
            </tr>
            <tr>
                <td>\$week.outHumidity.avg</td>
                <td>$week.outHumidity.avg</td>
                <td>\$week.outHumidity.count</td>
                <td>$week.outHumidity.count</td>
            </tr>
            <tr>
                <td>\$week.windSpeed.avg</td>
                <td>$week.windSpeed.avg</td>
                <td>\$week.windSpeed.count</td>
                <td>$week.windSpeed.count</td>
            </tr>
            <tr>
                <td>\$week.windDir.avg</td>
                <td>$week.windDir.avg</td>
                <td>\$week.windDir.count</td>
                <td>$week.windDir.count</td>
            </tr>
            <tr>
                <td>\$week.windGust.avg</td>
                <td>$week.windGust.avg</td>
                <td>\$week.windGust.count</td>
                <td>$week.windGust.count</td>
            </tr>
            <tr>
                <td>\$week.windGustDir.avg</td>
                <td>$week.windGustDir.avg</td>
                <td>\$week.windGustDir.count</td>
                <td>$week.windGustDir.count</td>
            </tr>
            <tr>
                <td>\$week.rainRate.avg</td>
                <td>$week.rainRate.avg</td>
                <td>\$week.rainRate.count</td>
                <td>$week.rainRate.count</td>
            </tr>
            <tr>
                <td>\$week.dewpoint.avg</td>
                <td>$week.dewpoint.avg</td>
                <td>\$week.dewpoint.count</td>
                <td>$week.dewpoint.count</td>
            </tr>
            <tr>
                <td>\$week.windchill.avg</td>
                <td>$week.windchill.avg</td>
                <td>\$week.windchill.count</td>
                <td>$week.windchill.count</td>
            </tr>
            <tr>
                <td>\$week.heatindex.avg</td>
                <td>$week.heatindex.avg</td>
                <td>\$week.heatindex.count</td>
                <td>$week.heatindex.count</td>
            </tr>
            <tr>
                <td>\$week.ET.avg</td>
                <td>$week.ET.avg</td>
                <td>\$week.ET.count</td>
                <td>$week.ET.count</td>
            </tr>
            <tr>
                <td>\$week.radiation.avg</td>
                <td>$week.radiation.avg</td>
                <td>\$week.radiation.count</td>
                <td>$week.radiation.count</td>
            </tr>
            <tr>
                <td>\$week.UV.avg</td>
                <td>$week.UV.avg</td>
                <td>\$week.UV.count</td>
                <td>$week.UV.count</td>
            </tr>
            <tr>
                <td>\$week.extraTemp1.avg</td>
                <td>$week.extraTemp1.avg</td>
                <td>\$week.extraTemp1.count</td>
                <td>$week.extraTemp1.count</td>
            </tr>
        </tbody>
    </table>
    <br>

    <table>
        <thead>
            <tr>
                <th colspan="4">\$week min & mintime</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>\$week.barometer.min</td>
                <td>$week.barometer.min</td>
                <td>\$week.barometer.mintime</td>
                <td>$week.barometer.mintime</td>
            </tr>
            <tr>
                <td>\$week.pressure.min</td>
                <td>$week.pressure.min</td>
                <td>\$week.pressure.mintime</td>
                <td>$week.pressure.mintime</td>
            </tr>
            <tr>
                <td>\$week.altimeter.min</td>
                <td>$week.altimeter.min</td>
                <td>\$week.altimeter.mintime</td>
                <td>$week.altimeter.mintime</td>
            </tr>
            <tr>
                <td>\$week.inTemp.min</td>
                <td>$week.inTemp.min</td>
                <td>\$week.inTemp.mintime</td>
                <td>$week.inTemp.mintime</td>
            </tr>
            <tr>
                <td>\$week.outTemp.min</td>
                <td>$week.outTemp.min</td>
                <td>\$week.outTemp.mintime</td>
                <td>$week.outTemp.mintime</td>
            </tr>
            <tr>
                <td>\$week.inHumidity.min</td>
                <td>$week.inHumidity.min</td>
                <td>\$week.inHumidity.mintime</td>
                <td>$week.inHumidity.mintime</td>
            </tr>
            <tr>
                <td>\$week.outHumidity.min</td>
                <td>$week.outHumidity.min</td>
                <td>\$week.outHumidity.mintime</td>
                <td>$week.outHumidity.mintime</td>
            </tr>
            <tr>
                <td>\$week.windSpeed.min</td>
                <td>$week.windSpeed.min</td>
                <td>\$week.windSpeed.mintime</td>
                <td>$week.windSpeed.mintime</td>
            </tr>
            <tr>
                <td>\$week.windDir.min</td>
                <td>$week.windDir.min</td>
                <td>\$week.windDir.mintime</td>
                <td>$week.windDir.mintime</td>
            </tr>
            <tr>
                <td>\$week.windGust.min</td>
                <td>$week.windGust.min</td>
                <td>\$week.windGust.mintime</td>
                <td>$week.windGust.mintime</td>
            </tr>
            <tr>
                <td>\$week.windGustDir.min</td>
                <td>$week.windGustDir.min</td>
                <td>\$week.windGustDir.mintime</td>
                <td>$week.windGustDir.mintime</td>
            </tr>
            <tr>
                <td>\$week.rainRate.min</td>
                <td>$week.rainRate.min</td>
                <td>\$week.rainRate.mintime</td>
                <td>$week.rainRate.mintime</td>
            </tr>
            <tr>
                <td>\$week.dewpoint.min</td>
                <td>$week.dewpoint.min</td>
                <td>\$week.dewpoint.mintime</td>
                <td>$week.dewpoint.mintime</td>
            </tr>
            <tr>
                <td>\$week.windchill.min</td>
                <td>$week.windchill.min</td>
                <td>\$week.windchill.mintime</td>
                <td>$week.windchill.mintime</td>
            </tr>
            <tr>
                <td>\$week.heatindex.min</td>
                <td>$week.heatindex.min</td>
                <td>\$week.heatindex.mintime</td>
                <td>$week.heatindex.mintime</td>
            </tr>
            <tr>
                <td>\$week.ET.min</td>
                <td>$week.ET.min</td>
                <td>\$week.ET.mintime</td>
                <td>$week.ET.mintime</td>
            </tr>
            <tr>
                <td>\$week.radiation.min</td>
                <td>$week.radiation.min</td>
                <td>\$week.radiation.mintime</td>
                <td>$week.radiation.mintime</td>
            </tr>
            <tr>
                <td>\$week.UV.min</td>
                <td>$week.UV.min</td>
                <td>\$week.UV.mintime</td>
                <td>$week.UV.mintime</td>
            </tr>
            <tr>
                <td>\$week.extraTemp1.min</td>
                <td>$week.extraTemp1.min</td>
                <td>\$week.extraTemp1.mintime</td>
                <td>$week.extraTemp1.mintime</td>
            </tr>
        </tbody>
    </table>
    <br>

    <table>
        <thead>
            <tr>
                <th colspan="4">\$week max & maxtime</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>\$week.barometer.max</td>
                <td>$week.barometer.max</td>
                <td>\$week.barometer.maxtime</td>
                <td>$week.barometer.maxtime</td>
            </tr>
            <tr>
                <td>\$week.pressure.max</td>
                <td>$week.pressure.max</td>
                <td>\$week.pressure.maxtime</td>
                <td>$week.pressure.maxtime</td>
            </tr>
            <tr>
                <td>\$week.altimeter.max</td>
                <td>$week.altimeter.max</td>
                <td>\$week.altimeter.maxtime</td>
                <td>$week.altimeter.maxtime</td>
            </tr>
            <tr>
                <td>\$week.inTemp.max</td>
                <td>$week.inTemp.max</td>
                <td>\$week.inTemp.maxtime</td>
                <td>$week.inTemp.maxtime</td>
            </tr>
            <tr>
                <td>\$week.outTemp.max</td>
                <td>$week.outTemp.max</td>
                <td>\$week.outTemp.maxtime</td>
                <td>$week.outTemp.maxtime</td>
            </tr>
            <tr>
                <td>\$week.inHumidity.max</td>
                <td>$week.inHumidity.max</td>
                <td>\$week.inHumidity.maxtime</td>
                <td>$week.inHumidity.maxtime</td>
            </tr>
            <tr>
                <td>\$week.outHumidity.max</td>
                <td>$week.outHumidity.max</td>
                <td>\$week.outHumidity.maxtime</td>
                <td>$week.outHumidity.maxtime</td>
            </tr>
            <tr>
                <td>\$week.windSpeed.max</td>
                <td>$week.windSpeed.max</td>
                <td>\$week.windSpeed.maxtime</td>
                <td>$week.windSpeed.maxtime</td>
            </tr>
            <tr>
                <td>\$week.windDir.max</td>
                <td>$week.windDir.max</td>
                <td>\$week.windDir.maxtime</td>
                <td>$week.windDir.maxtime</td>
            </tr>
            <tr>
                <td>\$week.windGust.max</td>
                <td>$week.windGust.max</td>
                <td>\$week.windGust.maxtime</td>
                <td>$week.windGust.maxtime</td>
            </tr>
            <tr>
                <td>\$week.windGustDir.max</td>
                <td>$week.windGustDir.max</td>
                <td>\$week.windGustDir.maxtime</td>
                <td>$week.windGustDir.maxtime</td>
            </tr>
            <tr>
                <td>\$week.rainRate.max</td>
                <td>$week.rainRate.max</td>
                <td>\$week.rainRate.maxtime</td>
                <td>$week.rainRate.maxtime</td>
            </tr>
            <tr>
                <td>\$week.dewpoint.max</td>
                <td>$week.dewpoint.max</td>
                <td>\$week.dewpoint.maxtime</td>
                <td>$week.dewpoint.maxtime</td>
            </tr>
            <tr>
                <td>\$week.windchill.max</td>
                <td>$week.windchill.max</td>
                <td>\$week.windchill.maxtime</td>
                <td>$week.windchill.maxtime</td>
            </tr>
            <tr>
                <td>\$week.heatindex.max</td>
                <td>$week.heatindex.max</td>
                <td>\$week.heatindex.maxtime</td>
                <td>$week.heatindex.maxtime</td>
            </tr>
            <tr>
                <td>\$week.ET.max</td>
                <td>$week.ET.max</td>
                <td>\$week.ET.maxtime</td>
                <td>$week.ET.maxtime</td>
            </tr>
            <tr>
                <td>\$week.radiation.max</td>
                <td>$week.radiation.max</td>
                <td>\$week.radiation.maxtime</td>
                <td>$week.radiation.maxtime</td>
            </tr>
            <tr>
                <td>\$week.UV.max</td>
                <td>$week.UV.max</td>
                <td>\$week.UV.maxtime</td>
                <td>$week.UV.maxtime</td>
            </tr>
            <tr>
                <td>\$week.extraTemp1.max</td>
                <td>$week.extraTemp1.max</td>
                <td>\$week.extraTemp1.maxtime</td>
                <td>$week.extraTemp1.maxtime</td>
            </tr>

        </tbody>
    </table>
    <br>

    <table>
        <thead>
            <tr>
                <th colspan="4">\$month average & count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>\$month.barometer.avg</td>
                <td>$month.barometer.avg</td>
                <td>\$month.barometer.count</td>
                <td>$month.barometer.count</td>
            </tr>
            <tr>
                <td>\$month.pressure.avg</td>
                <td>$month.pressure.avg</td>
                <td>\$month.pressure.count</td>
                <td>$month.pressure.count</td>
            </tr>
            <tr>
                <td>\$month.altimeter.avg</td>
                <td>$month.altimeter.avg</td>
                <td>\$month.altimeter.count</td>
                <td>$month.altimeter.count</td>
            </tr>
            <tr>
                <td>\$month.inTemp.avg</td>
                <td>$month.inTemp.avg</td>
                <td>\$month.inTemp.count</td>
                <td>$month.inTemp.count</td>
            </tr>
            <tr>
                <td>\$month.outTemp.avg</td>
                <td>$month.outTemp.avg</td>
                <td>\$month.outTemp.count</td>
                <td>$month.outTemp.count</td>
            </tr>
            <tr>
                <td>\$month.inHumidity.avg</td>
                <td>$month.inHumidity.avg</td>
                <td>\$month.inHumidity.count</td>
                <td>$month.inHumidity.count</td>
            </tr>
            <tr>
                <td>\$month.outHumidity.avg</td>
                <td>$month.outHumidity.avg</td>
                <td>\$month.outHumidity.count</td>
                <td>$month.outHumidity.count</td>
            </tr>
            <tr>
                <td>\$month.windSpeed.avg</td>
                <td>$month.windSpeed.avg</td>
                <td>\$month.windSpeed.count</td>
                <td>$month.windSpeed.count</td>
            </tr>
            <tr>
                <td>\$month.windDir.avg</td>
                <td>$month.windDir.avg</td>
                <td>\$month.windDir.count</td>
                <td>$month.windDir.count</td>
            </tr>
            <tr>
                <td>\$month.windGust.avg</td>
                <td>$month.windGust.avg</td>
                <td>\$month.windGust.count</td>
                <td>$month.windGust.count</td>
            </tr>
            <tr>
                <td>\$month.windGustDir.avg</td>
                <td>$month.windGustDir.avg</td>
                <td>\$month.windGustDir.count</td>
                <td>$month.windGustDir.count</td>
            </tr>
            <tr>
                <td>\$month.rainRate.avg</td>
                <td>$month.rainRate.avg</td>
                <td>\$month.rainRate.count</td>
                <td>$month.rainRate.count</td>
            </tr>
            <tr>
                <td>\$month.dewpoint.avg</td>
                <td>$month.dewpoint.avg</td>
                <td>\$month.dewpoint.count</td>
                <td>$month.dewpoint.count</td>
            </tr>
            <tr>
                <td>\$month.windchill.avg</td>
                <td>$month.windchill.avg</td>
                <td>\$month.windchill.count</td>
                <td>$month.windchill.count</td>
            </tr>
            <tr>
                <td>\$month.heatindex.avg</td>
                <td>$month.heatindex.avg</td>
                <td>\$month.heatindex.count</td>
                <td>$month.heatindex.count</td>
            </tr>
            <tr>
                <td>\$month.ET.avg</td>
                <td>$month.ET.avg</td>
                <td>\$month.ET.count</td>
                <td>$month.ET.count</td>
            </tr>
            <tr>
                <td>\$month.radiation.avg</td>
                <td>$month.radiation.avg</td>
                <td>\$month.radiation.count</td>
                <td>$month.radiation.count</td>
            </tr>
            <tr>
                <td>\$month.UV.avg</td>
                <td>$month.UV.avg</td>
                <td>\$month.UV.count</td>
                <td>$month.UV.count</td>
            </tr>
            <tr>
                <td>\$month.extraTemp1.avg</td>
                <td>$month.extraTemp1.avg</td>
                <td>\$month.extraTemp1.count</td>
                <td>$month.extraTemp1.count</td>
            </tr>
        </tbody>
    </table>
    <br>

    <table>
        <thead>
            <tr>
                <th colspan="4">\$month min & mintime</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>\$month.barometer.min</td>
                <td>$month.barometer.min</td>
                <td>\$month.barometer.mintime</td>
                <td>$month.barometer.mintime</td>
            </tr>
            <tr>
                <td>\$month.pressure.min</td>
                <td>$month.pressure.min</td>
                <td>\$month.pressure.mintime</td>
                <td>$month.pressure.mintime</td>
            </tr>
            <tr>
                <td>\$month.altimeter.min</td>
                <td>$month.altimeter.min</td>
                <td>\$month.altimeter.mintime</td>
                <td>$month.altimeter.mintime</td>
            </tr>
            <tr>
                <td>\$month.inTemp.min</td>
                <td>$month.inTemp.min</td>
                <td>\$month.inTemp.mintime</td>
                <td>$month.inTemp.mintime</td>
            </tr>
            <tr>
                <td>\$month.outTemp.min</td>
                <td>$month.outTemp.min</td>
                <td>\$month.outTemp.mintime</td>
                <td>$month.outTemp.mintime</td>
            </tr>
            <tr>
                <td>\$month.inHumidity.min</td>
                <td>$month.inHumidity.min</td>
                <td>\$month.inHumidity.mintime</td>
                <td>$month.inHumidity.mintime</td>
            </tr>
            <tr>
                <td>\$month.outHumidity.min</td>
                <td>$month.outHumidity.min</td>
                <td>\$month.outHumidity.mintime</td>
                <td>$month.outHumidity.mintime</td>
            </tr>
            <tr>
                <td>\$month.windSpeed.min</td>
                <td>$month.windSpeed.min</td>
                <td>\$month.windSpeed.mintime</td>
                <td>$month.windSpeed.mintime</td>
            </tr>
            <tr>
                <td>\$month.windDir.min</td>
                <td>$month.windDir.min</td>
                <td>\$month.windDir.mintime</td>
                <td>$month.windDir.mintime</td>
            </tr>
            <tr>
                <td>\$month.windGust.min</td>
                <td>$month.windGust.min</td>
                <td>\$month.windGust.mintime</td>
                <td>$month.windGust.mintime</td>
            </tr>
            <tr>
                <td>\$month.windGustDir.min</td>
                <td>$month.windGustDir.min</td>
                <td>\$month.windGustDir.mintime</td>
                <td>$month.windGustDir.mintime</td>
            </tr>
            <tr>
                <td>\$month.rainRate.min</td>
                <td>$month.rainRate.min</td>
                <td>\$month.rainRate.mintime</td>
                <td>$month.rainRate.mintime</td>
            </tr>
            <tr>
                <td>\$month.dewpoint.min</td>
                <td>$month.dewpoint.min</td>
                <td>\$month.dewpoint.mintime</td>
                <td>$month.dewpoint.mintime</td>
            </tr>
            <tr>
                <td>\$month.windchill.min</td>
                <td>$month.windchill.min</td>
                <td>\$month.windchill.mintime</td>
                <td>$month.windchill.mintime</td>
            </tr>
            <tr>
                <td>\$month.heatindex.min</td>
                <td>$month.heatindex.min</td>
                <td>\$month.heatindex.mintime</td>
                <td>$month.heatindex.mintime</td>
            </tr>
            <tr>
                <td>\$month.ET.min</td>
                <td>$month.ET.min</td>
                <td>\$month.ET.mintime</td>
                <td>$month.ET.mintime</td>
            </tr>
            <tr>
                <td>\$month.radiation.min</td>
                <td>$month.radiation.min</td>
                <td>\$month.radiation.mintime</td>
                <td>$month.radiation.mintime</td>
            </tr>
            <tr>
                <td>\$month.UV.min</td>
                <td>$month.UV.min</td>
                <td>\$month.UV.mintime</td>
                <td>$month.UV.mintime</td>
            </tr>
            <tr>
                <td>\$month.extraTemp1.min</td>
                <td>$month.extraTemp1.min</td>
                <td>\$month.extraTemp1.mintime</td>
                <td>$month.extraTemp1.mintime</td>
            </tr>
        </tbody>
    </table>
    <br>

    <table>
        <thead>
            <tr>
                <th colspan="4">\$month max & maxtime</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>\$month.barometer.max</td>
                <td>$month.barometer.max</td>
                <td>\$month.barometer.maxtime</td>
                <td>$month.barometer.maxtime</td>
            </tr>
            <tr>
                <td>\$month.pressure.max</td>
                <td>$month.pressure.max</td>
                <td>\$month.pressure.maxtime</td>
                <td>$month.pressure.maxtime</td>
            </tr>
            <tr>
                <td>\$month.altimeter.max</td>
                <td>$month.altimeter.max</td>
                <td>\$month.altimeter.maxtime</td>
                <td>$month.altimeter.maxtime</td>
            </tr>
            <tr>
                <td>\$month.inTemp.max</td>
                <td>$month.inTemp.max</td>
                <td>\$month.inTemp.maxtime</td>
                <td>$month.inTemp.maxtime</td>
            </tr>
            <tr>
                <td>\$month.outTemp.max</td>
                <td>$month.outTemp.max</td>
                <td>\$month.outTemp.maxtime</td>
                <td>$month.outTemp.maxtime</td>
            </tr>
            <tr>
                <td>\$month.inHumidity.max</td>
                <td>$month.inHumidity.max</td>
                <td>\$month.inHumidity.maxtime</td>
                <td>$month.inHumidity.maxtime</td>
            </tr>
            <tr>
                <td>\$month.outHumidity.max</td>
                <td>$month.outHumidity.max</td>
                <td>\$month.outHumidity.maxtime</td>
                <td>$month.outHumidity.maxtime</td>
            </tr>
            <tr>
                <td>\$month.windSpeed.max</td>
                <td>$month.windSpeed.max</td>
                <td>\$month.windSpeed.maxtime</td>
                <td>$month.windSpeed.maxtime</td>
            </tr>
            <tr>
                <td>\$month.windDir.max</td>
                <td>$month.windDir.max</td>
                <td>\$month.windDir.maxtime</td>
                <td>$month.windDir.maxtime</td>
            </tr>
            <tr>
                <td>\$month.windGust.max</td>
                <td>$month.windGust.max</td>
                <td>\$month.windGust.maxtime</td>
                <td>$month.windGust.maxtime</td>
            </tr>
            <tr>
                <td>\$month.windGustDir.max</td>
                <td>$month.windGustDir.max</td>
                <td>\$month.windGustDir.maxtime</td>
                <td>$month.windGustDir.maxtime</td>
            </tr>
            <tr>
                <td>\$month.rainRate.max</td>
                <td>$month.rainRate.max</td>
                <td>\$month.rainRate.maxtime</td>
                <td>$month.rainRate.maxtime</td>
            </tr>
            <tr>
                <td>\$month.dewpoint.max</td>
                <td>$month.dewpoint.max</td>
                <td>\$month.dewpoint.maxtime</td>
                <td>$month.dewpoint.maxtime</td>
            </tr>
            <tr>
                <td>\$month.windchill.max</td>
                <td>$month.windchill.max</td>
                <td>\$month.windchill.maxtime</td>
                <td>$month.windchill.maxtime</td>
            </tr>
            <tr>
                <td>\$month.heatindex.max</td>
                <td>$month.heatindex.max</td>
                <td>\$month.heatindex.maxtime</td>
                <td>$month.heatindex.maxtime</td>
            </tr>
            <tr>
                <td>\$month.ET.max</td>
                <td>$month.ET.max</td>
                <td>\$month.ET.maxtime</td>
                <td>$month.ET.maxtime</td>
            </tr>
            <tr>
                <td>\$month.radiation.max</td>
                <td>$month.radiation.max</td>
                <td>\$month.radiation.maxtime</td>
                <td>$month.radiation.maxtime</td>
            </tr>
            <tr>
                <td>\$month.UV.max</td>
                <td>$month.UV.max</td>
                <td>\$month.UV.maxtime</td>
                <td>$month.UV.maxtime</td>
            </tr>
            <tr>
                <td>\$month.extraTemp1.max</td>
                <td>$month.extraTemp1.max</td>
                <td>\$month.extraTemp1.maxtime</td>
                <td>$month.extraTemp1.maxtime</td>
            </tr>

        </tbody>
    </table>
    <br>

    <table>
        <thead>
            <tr>
                <th colspan="2">Rain</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>\$day.rain.sum</td>
                <td>$day.rain.sum</td>
            </tr>
            <tr>
                <td>\$week.rain.sum</td>
                <td>$week.rain.sum</td>
            </tr>
            <tr>
                <td>\$month.rain.sum</td>
                <td>$month.rain.sum</td>
            </tr>
            <tr>
                <td>\$year.rain.sum</td>
                <td>$year.rain.sum</td>
            </tr>
            <tr>
            <td colspan=2>With a \#for loop:</td>
            </tr>
	    #for $month in $year.months
            <tr>
            <td>\$month.dateTime.format("%B")<br>\$month.rain.sum</td>
            <td>$month.dateTime.format("%B"):<br>$month.rain.sum</td>
            </tr>
            #end for
        </tbody>
    </table>
    <br>

    <table>
        <thead>
            <tr>
                <th colspan="6">Every month min/max on the year</th>
            </tr>
        </thead>
        <tbody>
	#for $month in $year.months
        <tr>
        <td>\$month.dateTime.format("%B"):<br>\$month.outTemp.min / \$month.outTemp.max</td>
        <td>$month.dateTime.format("%B"):<br>$month.outTemp.min / $month.outTemp.max</td>
        <td>\$month.dateTime.format("%B"):<br>\$month.outHumidity.min / \$month.Humidity.max</td>
        <td>$month.dateTime.format("%B"):<br>$month.outHumidity.min / $month.outHumidity.max</td>
        <td>\$month.dateTime.format("%B"):<br>\$month.barometer.min / \$month.Humidity.max</td>
        <td>$month.dateTime.format("%B"):<br>$month.barometer.min / $month.barometer.max</td>

        </tr>
        #end for

        </tbody>
    </table>
    <br>
<table>
        <thead>
            <tr>
                <th colspan="6">Every month min/max on the year</th>
            </tr>
        </thead>
        <tbody>
        #for $month in $year.months
        <tr>
        <td>\$month.dateTime.format("%B"):<br>\$month.outTemp.min / \$month.outTemp.max</td>
        <td>$month.dateTime.format("%B"):<br>$month.outTemp.min / $month.outTemp.max</td>
        <td>\$month.dateTime.format("%B"):<br>\$month.outHumidity.min / \$month.Humidity.max</td>
        <td>$month.dateTime.format("%B"):<br>$month.outHumidity.min / $month.outHumidity.max</td>
        <td>\$month.dateTime.format("%B"):<br>\$month.barometer.min / \$month.Humidity.max</td>
        <td>$month.dateTime.format("%B"):<br>$month.barometer.min / $month.barometer.max</td>

        </tr>
        #end for

        </tbody>
    </table>
    <br>


    <table>
        <thead>
            <tr>
                <th colspan="2">*</th>
            </tr>
        </thead>
        <tbody>
        <tr>
        <td>\$month.dateTime.format("%B"):<br>\$month.windSpeed.min / \$month.windSpeed.max</td>
        <td>$month.dateTime.format("%B"):<br>$month.windSpeed.min / $month.windSpeed.max</td>
        </tr>
        <tr>
        <td>\$month.dateTime.format("%B"):<br>\$month.windGust.min / \$month.windGust.max</td>
        <td>$month.dateTime.format("%B"):<br>$month.windGust.min / $month.windGust.max</td>
        </tr>
        <tr>
        <td>\$month.dateTime.format("%B"):<br>\$month.dewpoint.min / \$month.dewpoint.max</td>
        <td>$month.dateTime.format("%B"):<br>$month.dewpoint.min / $month.dewpoint.max</td>
        </tr>
        </tbody>
    </table>


    <br>
    <h3>Developped by bonjour81, source code on <a href="https://github.com/bonjour81/parameterlist_weewx_skin">https://github.com/bonjour81/parameterlist_weewx_skin</a></h3>
    <a href="http://validator.w3.org/check?uri=referer"><img src="valid_html5_blue.png" alt="Html5 valide!"></a>
    <a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="valid_css3_blue.png" alt="CSS Valide !"></a>
    <br>
    <div class="a"><a href="https://venturas.org/badges">Bagdes from  João Ventura</a></div>
</body>

</html>
